<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org">

<div th:fragment="tabelaPesquisaPessoa" id="pesquisarPessoa">
   <div class="container-fluid">
     <div class="table-responsive">
     	<table id="tabelaPessoa" 
     		   class="col-md-12 table table-striped table-bordered table-hover"
     		   style="width: 100%">
            <thead>
                <tr>
                   <th style="text-align: center">Id</th>
                   <th style="text-align: center">Nome</th>
                   <th style="text-align: center">E-mail</th>
                </tr>
            </thead>	
            <tbody>
            </tbody>     	
     	</table>
     </div>
   </div>
</div>
</html>